*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol
{
    list-style: none;
}

:focus
{
    outline: none;
}

a 
{
    color: inherit;
}

address 
{
    font-style: normal;
}

button,
input[type="submit"] 
{
    align-items: stretch;
    background-color: transparent;
    border: 0;
    color: inherit;
}