/* --- variables ---  */
:root
{
    --bg-even :#bfdcff;
    --bg-odd : #ffffff;
    --semielement:#fc38388d;
    --shadow-color:#656565;
    --breake-border-color:#252323;
}


/* --- Global --- */
body
{
    background-color:#333;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

code
{
    font-family: inherit;
}
p
{
    line-height: 1.5;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4
{
    font-family: 'Shippori Mincho', serif;
}

h1,.h1
{
    font-size: 36px;
}

h2,.h2
{
    font-size: 32px;
}

h3,.h3
{
    font-size:27px ;
}

h4,.h4
{
    font-size: 22px;
}

body
{
    font-size: 16px;
    
}

i
{
    font-size: 25px;
}

.bold
{
    font-weight: 700;
    font-size: 18px;
}
.row-lg
{
    background-color: var(--bg-odd);
}
.italic
{
    font-style: italic;
}
/* --- framework --- */

.hidden
{
    display: none !important;
}

/* --- css page --- */
/* -- header -- */
header
{
   background-color: var(--bg-even);
   position: relative;
   z-index: 1;   
   border-bottom: 5px solid var(--breake-border-color);
   box-shadow: 2px 2px 10px var(--shadow-color);
}

/* - photo - */
header .box-photo
{
    padding: 15px;   
    overflow: hidden;      
}
header img
{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid black;
}

.info
{
    width: 80%;
    margin-left: 60%;
    transform: translate(-50%);
}

    .info h1
    {
        font-size: 30px;
        border-bottom: 3px solid var(--breake-border-color);
        margin-bottom: 10px;
        font-weight: bold;
        text-shadow: 1px 1px 3px solid var(--shadow-color),;
    }

    .info p
    {
        font-size: 20px;
    }

            .info  p span
            {
                font-size: 25px;
                text-transform: uppercase;
                font-weight: bold;
                text-shadow: 1px 1px 3px solid var(--shadow-color);                    
            }


/* - boutton burger - */
.btn-burger
{
    background-color: black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-around;
    right: 20px;
    top: 53px;
    position: absolute;
    padding:10px;
    width: 60px;
    z-index: 10;
}

    .btn-burger:active
    {
        background-color: rgb(78, 80, 66) ;
    }

    .btn-burger span
    {
        background-color: #fefefe;
        border-radius: 3px;
        padding: 2px;
        transition: 1s;        
    }

        /* -btn-burger animation- */
        .btn-burger.close span:nth-child(1)
        {
         transform: scale(2);
        }

        .btn-burger.close span:nth-child(2)
        {
            transform:translateX(90px) ;
        }

        .btn-burger span:nth-child(3)   
        {
            transform-origin: 95% 50%;            
        }

            .btn-burger.close span:nth-child(3)
            {
                transform:rotateZ(50deg) translateX(-40px);
            }

nav
{
    background-color:  rgb(242, 253, 255);
    text-align: center;
    width: 100%;
    box-shadow: inset 3px 3px 10px var(--shadow-color);
}

    nav li
    {
        border-top: 1px solid black;

        transition: 0.3s;
    }
    
    nav li:active
    {
        background-color: var(--bg-even); 
    }


        nav li a
        {
            text-decoration: none;
            padding: 10px;
            display: block;
        }


/* -- main content -- */
main
{
    padding: 15px;

}

main h2
{
    margin-bottom: 15px;
}

main section
{
    border-radius: 3px;
    margin-top: 15px;
    padding: 25px;
    position: relative;
    z-index: 1;
}

    main section:nth-of-type(even)
    {
        background-color: var(--bg-even);
        box-shadow: 0 0 20px var(--shadow-color),
                    inset -7px -7px 10px rgba(149, 149, 134, 0.575);
    }
    
    main section:nth-of-type(odd)
    {
        background-color: var(--bg-odd);
        border-bottom: 3px solid var(--breake-border-color);
        position: relative;
        z-index: 0;
        /* box-shadow: inset 2px 2px 5px var(--shadow-color); */
    }

        main section:nth-child(odd)::before
        {
            background-color:var(--semielement);
            content: "";
            clip-path: polygon(0 0, 0 21%, 26% 0);
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 1;
        }


    
    main .competences ul
    {
        display: flex;
        flex-wrap: wrap;
    }

        main .competences ul li
        {
            flex-basis: 50%;
            flex-grow: 1;
            padding-top: 3px;
        }

            main +section li 
            {
                font-size: 20px;
            }
             
            main >section ul li:nth-child(1) i
            {
                color: #d37108;
            }
            main >section ul li:nth-child(2) i
            {
                color: #3a3aed;
            }
            main >section ul li:nth-child(3) i
            {
                color: #ffba25;
            }
            main >section ul li:nth-child(4) i
            {
                color: #6a33d7;
            }
            main >section ul li:nth-child(7) i
            {
                color: #c43131;
            }            
            main >section ul li:nth-child(6) i
            {
                color: #80a8ff;
            }
    
    main .about-me p
    {
        margin-top: 5px;
    }
    
    main ol li
    {
        margin-top: 10px;
    }
    main  ol  ul
    {
        list-style: circle;
        margin-top: 10px;
        margin-left: 10%;
    }
/* ---footer--- */
footer
{
    background-color: var(--bg-even);
    padding: 15px;
    position: relative;
    box-shadow: inset 1px 1px 5px var(--shadow-color);
}

    footer >div
    {

        border-radius: 3px;
        padding: 15px;
        border-bottom: 3px solid var(--breake-border-color);
    }
    
        footer li
        {
            margin-top: 5px;     
        }

        /* logo colors */
        .interets-perso .carrousel div:nth-child(1) i
        {
            color: rgb(0, 0, 0);
        }
        .interets-perso .carrousel div:nth-child(2) i
        {
            color: #4156f2;
        }
        .interets-perso .carrousel div:nth-child(3) i
        {
            color:  #06e6ff;
        }
        .interets-perso .carrousel div:nth-child(4) i
        {
            color:  rgb(133, 69, 0);
        }


/* ---fix bug--- */
@media(max-width:355px)
{
    main .competences ul
    {
       display: block;
    } 
}


/* --- tablet-size --- */
@media(min-width:768px)
{
    /* ---header--- */
    .top-header
    {
        height: 260px;
    }
        .top-header-flex
        {
            display: flex;
        }

    header .box-photo
    {
    position: absolute;
    left: 15px;
    z-index: 3; 

    }
        header img
        {
            height: 190px;
            width: 190px;
        }

    .info
    {
        margin-top: 50px;

    }        


    .btn-burger
    {
        display: none;
    }

    main 
    {
        display: flex;
        flex-wrap: wrap;        
    }

        main section
        {
            margin-top: 0;    
            flex-basis: 50%;
            flex-grow: 1;
        }
}

@media(min-width:768px) and (max-width:992px)
{
    
    main section:nth-of-type(1)
    {
        order: 1;
    }
    main section:nth-of-type(2)
    {
        order: 2;
    }
    main section:nth-of-type(3)
    {
        order: 4;
    }
    main section:nth-of-type(4)
    {
        order: 3;    
    }
    main section:nth-of-type(5)
    {
        order: 5;
    }
    main section:nth-of-type(6)
    {
        order: 6;
    }

    main section:nth-of-type(odd)
    {
     border: none; 
    }

}
/* -mobile/tablet whitout carousel-   */
@media(max-width:992px)
{
    /* -font awesome personal hobbies- */   
.interets-perso .carrousel-wrapper .carrousel
{
    margin-top: 20px;
}

.interets-perso .carrousel-wrapper .carrousel
{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap ;
    height: 70%;
}

    .interets-perso .carrousel div
    {
        padding: 15px;
        flex-basis: 50%;     
        text-align: center;
        line-height: 35px;    
        box-shadow: 2px 2px 5px var(--shadow-color),
                    -2px -2px 5px var(--shadow-color);
    }

        .interets-perso .carrousel div
        {
            font-size: 35px;
        }

}
/* --- lp-size --- */
@media(min-width:992px)
{
    .row-lg
    {
        display: flex;
    }

    header
    {
        height: auto;
        position: static;        
    }
  
        .info h1
        {
            font-size: 36px;
        }

        .info p
        {
            font-size: 35px;
        }

            .info  p span
            {
                font-size: 35px;
            } 

            .menu-nav
    {
        top: 80px;
    }
    
    main 
    {
        display: block;
        padding-right:10% ;
        padding-left:10% ;
    }

        main .row:nth-child(2)
        {
            background-color: transparent;
            display: block;
        }
        
            main section
            {
                margin-top: 15px;
                margin-right: 15px;
            }

           main section:last-of-type
            {
                margin-bottom: 15px;   
            }

    footer
    {
        box-shadow: 10px 10px 70px var(--shadow-color),
                    inset -10px -10px 70px rgba(149, 149, 134, 0.575);
        order: -1;
        position: relative;
        top: -50px;
        display: flex;
        flex-direction: column;
    }
    
        footer > *
        {
            flex-grow: 1;
        }


/* -carousel animation- */
    .carrousel-wrapper
    {
        position: relative;
        width: 1px;
        margin: 20% auto 0 auto;
        perspective: 600px;
        perspective-origin: 65px 60px;
    }

        .carrousel
        {
            position: absolute;
            transform-style:preserve-3d;
            animation: rotation 17s infinite;
        }

            .slide
            {
                position: absolute;
                width: 120px;
                height: 250px;
                text-align: center;
                padding-top: 90px;
                padding-bottom: 90px;
                background-color: var(--semielement);     
            }

            .slide i
            {
                font-size: 55px;
            }

            .slide.one
            {
                transform: rotateY(0deg) translateZ(60px);
            }

            .slide.two
            { 
                transform: rotateY(90deg) translateZ(60px);
            }

            .slide.three
            {
                transform: rotateY(180deg) translateZ(60px);
            }

            .slide.four
            {
                transform: rotateY(270deg) translateZ(60px);
            }

@media(min-width:1440px)
{
    .container
    {
        border: 3px solid var(--breake-border-color);
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 1440px;
        z-index: 1;
    }


}
    @keyframes rotation {   
        from {
          transform: rotateY(-360deg);
        }
        to {
          transform: rotateY(0deg);
        }
      }     
}       